<!doctype html>
<html ng-app="elevator">
  <head>
    <meta charset="utf-8">
    <title>The Elevator</title>
    
    <link rel="stylesheet" type="text/css" href="css/elevator.css">
    <script src="js/angular.min.js"></script>
    <script src="js/elevator.js" charset="UTF-8"></script>
  </head>
  <body ng-controller="ElevatorCtrl">
    <section>
      <h2>Floor schematics</h2>
      <table>
        <tr ng-repeat="floor in floors">
          <th scope="row" ng-class="car.active(floor.n) &amp;&amp; 'active'">
            <span ng-show="car.active(floor.n)" ng-bind="car.state()"></span>
          </th>
          <td>{{floor.title}}</th>
          <td ng-class="floor.light">&#x25cf;</td>
          <td>
            <button type="button" ng-click="floor.call()">Call</button>
            <button type="button" ng-disabled="!car.canOpenOuterDoor(floor.n)" ng-click="car.openOuterDoor(floor.n)">Open door</button>
          </td>
        <tr>
      </table>
    </section>

    <section>
      <h2>Controls in car</h2>
      <ul>
        <li ng-repeat="floor in floors">
          <button type="button" ng-disabled="!car.occupied" ng-click="panel.press(floor.n)" ng-class="panel.btnClass(floor.n)">{{floor.title}}</button>
        </li>
        <li>
          <button class="stop" type="button" ng-disabled="!car.occupied" ng-click="panel.stop()">STOP</button>
        </li>
      </ul>
      <div ng-show="panel.showOpenDoorWarning()">Please close car door</div>
    </section>

    <section>
      <h2>User controls</h2>
      <button type="button" ng-click="car.openDoor()" ng-show="!car.open">Open car door</button>
      <button type="button" ng-click="car.closeDoor()" ng-show="car.open">Close car door</button>
      <button type="button" ng-click="car.stepIn()" ng-disabled="!car.canStepIn()">Step in</button>
      <button type="button" ng-click="car.stepOut()" ng-disabled="!car.canStepOut()">Step out</button>
    </section>
    
    <div class="clear"></div>
    
    <!-- Jasmine integration -->
    <link rel="stylesheet" href="jasmine/lib/jasmine-2.3.4/jasmine.css">
    <script src="jasmine/lib/jasmine-2.3.4/jasmine.js"></script>
    <script src="jasmine/lib/jasmine-2.3.4/jasmine-html.js"></script>
    <script src="jasmine/lib/jasmine-2.3.4/boot.js"></script>
    <script src="js/angular-mocks.js"></script>
    
    <!-- Spec files -->
    <script src="jasmine/spec/SpecHelper.js"></script>
    <script src="jasmine/spec/ElevatorCtrlSpec.js"></script>
    <script src="jasmine/spec/CallServiceSpec.js"></script>
    
  </body>
</html>
